<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 5. put the title EJS down below -->
    <title>Node.JS Lesson | <%= title %></title>
    <!-- 1. add style -->
    <link rel="stylesheet" href="/style.css">
    <style>
        
    </style>
</head>